/* import 'bootstrap/dist/css/bootstrap.min.css'; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color-scheme: light dark;
}

:root{
  --bg-color:#f4f3ff;
  --btn-color:#646cff;
  --dark-color:#242424;
  --helper-color:#99b9ff;
}

html {
  font-size: 62.5%;
  /* font-size: 1.7rem; */
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.forgot-password{
  font-size: 1.7rem;
  color: var(--helper-color);
  font-weight: 500;
  /* text-decoration: none; */
  /* margin-top: 10px; */
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 16px !important;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.btn{
  padding: 0.7rem 1.5rem;
  font-size: 1.7rem;
  margin-bottom: 10px;
}

h1{
  font-size: 4.4rem;
  line-height: 1.1;
  font-weight: bold;
}
span{
  font-size: 1.4rem;
  line-height: 1.14;
  letter-spacing: 0.1rem;
  word-spacing: 0.02rem;
}

p, li,label,input,
textarea{
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: 0.1rem;
  word-spacing: 0.01rem;
}

li{
  list-style: none;
}

/* react toastify css */
.toastBody{
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  /* color: #10171D; */
  font-size: 1.7rem !important;
}


a{
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--btn-color);
  text-decoration: inherit;
}

.container{
  max-width: 100%;
  padding: 4rem 2.4rem;
  margin: 0 auto;
}



button{
  text-transform: capitalize;
  padding: 1rem 2.2rem;
  font-size: 1.7rem;
  font-weight: 500;
  background-color: var(--btn-color);
  border-radius: 0.8rem;
  border: 0.1rem solid transparent;
  cursor: pointer;
  letter-spacing: 0.1rem;
  transition: border-color 0.3s;
}

/* state rules */
button:hover{
  box-shadow: inset 0 0 0 0.2rem var(--bg-color);
}





@media (prefers-color-scheme:light){
  :root{
    color: #213547;
    background-color: #ffffff;
  }
  a:hover,
  a.active{
    color: #747bff;
  }
  button{
    background-color: #f9f9f9;
  }
}





/* Error Page */
#error-page{
  display: flex;
  align-items: center;
  justify-content: center;
}

#error-page .content{
  max-width: 70rem;
  text-align: center;
  & .btns{
    display: flex;
    justify-content: center;
    align-items: center;
    & .btn1{
        color: var(--bg-color);
        text-transform: capitalize;
        padding: 1rem 2.2rem;
        font-size: 1.7rem;
        font-weight: 500;
        background-color: var(--btn-color);
        border-radius: 0.8rem;
        border: 0.1rem solid transparent;
        cursor: pointer;
        letter-spacing: 0.1rem;
        transition: border-color 0.3s;
        margin: 2rem 1.2rem 1rem 2.4rem;
        &:hover{
          box-shadow: inset 0 0 0 0.2rem var(--bg-color);
        }
    }
   
  }

}

.content h2.header{
  font-size: 18vw;
  line-height: 1em;
  animation: animate 10s ease-in-out infinite ;
  background:-webkit-repeating-linear-gradient(
    -60deg,
    #71b7e6,
    var(--btn-color),
    #b98acc,
    #ee8176,
    #b98acc,
    var(--btn-color),
    #9b59b6
  );
  background-size: 500%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
  position: relative;
}

@keyframes animate {
  0%{
    background-position: 0 0;
  }
    25% {
      background-position: 100% 0;
    }
        50% {
          background-position: 100% 100%;
        }
        75% {
          background-position:0 100% ;
        }
        100% {
          background-position: 0 0;
        }
}

.login-box{
  display: grid;
  place-content: center;
}


input{
  padding: 5px 20px;
}

/* admin user table data */
.user-table{
  font-size: 1.7rem;
  text-transform: capitalize;
  width: 100%;
}


.contact-tbl{
  font-size: 1.6rem;
  text-transform: capitalize;
  width: 100% !important;
}


.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}